@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
.box1{
    background-image: linear-gradient(to bottom, #000000, #363636);
    margin-left: 190px;
    height: 500px;
    width: 400px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
}
.box1::after, .box1::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle, 0deg), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 3px;
    border-radius: 20px;
    animation: spin 3s linear infinite;
}
.box1::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }
.box1 p{
    margin-top: 10px;
    color: #b3b4bd;
    text-align: center;
}
.white-bar-1{
    background-color: white;
    height: 1px; 
    width: 30%; 
    margin-top: 5px;
    margin-left: 130px;
}
.item1{
    color: #e29b17;
    text-align: center;
    background-color:rgb(160, 95, 34);
    border-radius: 15px;
    padding: 1.5rem;
    max-width: 17rem;
    margin: 30px;
    width: 100%;
    align-items: center;
    box-shadow: rgba(160, 112, 7, 0.5) 0px 6px 24px 0px;
}
.item1:hover{
    cursor: grab;
}

